﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC - Starter Template</h1>
    <p class="lead">Use this template as a starting point for your Helion Development Platform apps.  It has a modified Web.config, manifest.yml, and uses SQL Server and RabbitMQ. </p>
    <p><a href="http://docs.hpcloud.com/helion/devplatform/1.2/windows/" class="btn btn-primary btn-lg">Read Docs &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Connect to SQL Server</h2>
        <p>
            When developing for Helion Development Platform, you use environment variables (that are supplied by Cloud Foundry) to connect to services.  
        </p>
        <p><a class="btn btn-default" href=../Home/SQL>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Use RabbitMQ</h2>
        <p>Cloud Native apps ensure that app state is externalized to resilient services such as a messaging queue.  Take a look at how to use RabbitMQ in your app.</p>
        <p><a class="btn btn-default" href="../Home/Rabbit">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your First Push</h2>
        <p>Deployment to Helion Development Platform is done through a series of command-line commands, or through the publishing tools in Visual Studio.</p>
        <p><a class="btn btn-default" href="http://docs.hpcloud.com/helion/devplatform/1.2/windows/deployingnet/">Learn more &raquo;</a></p>
    </div>
</div>