﻿
@{
    ViewBag.Title = "RabbitMQ";
    
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>You should get connection strings from environment variables.  Read more on the SQL Server page.</h4>
<h4>Now that you understand environment variables, let's parse the rabbit variable in C#. </h4>
<img src="~/Images/SampleApp4.png" class="img-thumbnail" />
<h4>We've added some connection and publishing code to the Rabbit route of the Home controller.</h4>
<img src="~/Images/SampleApp6.png" class="img-thumbnail" />
<h4>We've also added a snippet to listen for messages and dequeue.  </h4>
<img src="~/Images/SampleApp5.png" class="img-thumbnail" />
<h4>For demo purposes, we print out received messages to the logstream.  </h4>
<img src="~/Images/SampleApp7.png" class="img-thumbnail" />