﻿@{
    ViewBag.Title = "Use SQL Server";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>Cloud native apps get connection strings from environment variables.</h4>
<h4>A great place to start is to look in the "Files" section of the Web Console for you deployed app. </h4>  
<h4>A file called logs/env.logs shows all "VCAP_SERVICES" - service connections.</h4>
<img src="~/Images/SampleApp1.png" class="img-thumbnail">
<h4>Now that you see the structure of the environment variable, let's parse it in C#. </h4>
<img src="~/Images/SampleApp3.png" class="img-thumbnail" />
<h4>This sample template injects SQL Server connection information into the "DefaultConnection" entry in the Web.config.</h4>
<img src="~/Images/SampleApp2.png" class="img-thumbnail"/>
<h4>Check out the IdentityModels.cs file to see how this is using in conjunction with Entity Framework.</h4>
<h4>You can insert users into the SQL Server bound to this sample app by using the Register page.</h4>